# Ignore Extrae results.
**/*.pcf
**/*.prv
**/*.row
**/TRACE*

# Ignore loaded modules output.
modules.log

# Ignore the directories used during installation.
src/

# Ignore results folder and other results.
results/
profiling/**/res-*/**/*.db
profiling/**/res-*/**/*.json
profiling/**/res-*/**/*.sysinfo.txt
fort.20
core

# Ignore experiment results.
experiments/**/GPU/
experiments/**/CPU/
experiments/**/slurm-*.out

# Ignore Python environments.
**/venv/
